.form-modal {
    &__title {
      position: relative;
      min-height: 60px;
      padding: 10px 52px 10px 24px;
      font-size: 24px;
      background-color: #f7f7f7;
    }
    &__close-btn.icons-materia {
      position: absolute;
      top: 50%;
      right: 10px;
      padding: 0.5rem;
      font-size: 50px;
      cursor: pointer;
      transform: translateY(-50%);
    }
  }
  
  .msg-box {
    &__title {
      padding: 16px 24px;
      font-size: 36px;
      text-align: center;
    }
    &__title-img {
      display: flex;
      justify-content: center;
      max-height: 20vh;
      margin-bottom: 20px;
    }
    &__content {
      text-align: center;
    }
  }